<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="js/vue.js"></script>
    <script defer src="js/main.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <title>Product App</title>
</head>
<body>


<div id="app">
    <div class="product">
        <div class="product-image">
            <img :src="image" :alt="altText"/>
        </div>
        <div class="product-info">
            <h1>{{ title }} </h1> <!-- загаловок -->
            <p>{{ description }} <a :href="link">More products like this</a></p> <!-- Ссылка на магазин -->
            <span v-if="onSale">{{sale}}</span> <!-- товар находится на скидке -->
            <span v-else>noSale</span> <!-- товар не находится на скидке -->
            <p v-if="inStock">In stock</p> <!-- товар нахдится в наличии -->
            <p v-else :class="{outOfStock: !instock}">Out of stock</p>
            <ul>
                <li v-for="detail in details">{{ detail }}</li> <!-- состав -->
            </ul>
            <!-- цвет -->
            <div
                    class="color-box"
                    v-for="(variant, index) in variants"
                    :key="variant.variantId"
                    :style="{ backgroundColor:variant.variantColor }"
                    @mouseover="updateProduct(index)">
            </div>

            <ul>
                <li v-for="size in sizes">{{size}}</li><!-- размеры -->
            </ul>
            <div class="cart"> <!-- кол товаров в кор -->
                <p>Cart({{ cart }})</p>
            </div>
            <button v-on:click="addToCart" :disabled="!inStock"
                    :class="{ disabledButton: !inStock }">Add to cart</button><!-- добавить в кор -->

            <button v-on:click="deleteToCart">Remove cart</button> <!-- убрать из кор -->

        </div>
    </div>
 </div>
</body>
</html>